<head>
	<link rel="shotcut icon" href="photos/hotol-engine.png">
</head>
<style type="text/css">
.center2d {
	margin-top: 5%;
	position: absolute;
	top: 15%;
	left: 45%;
	width: 60%;
	-moz-transform: translateX(-45%) translateY(-15%);
	-webkit-transform: translateX(-45%) translateY(-15%);
	transform: translateX(-45%) translateY(-15%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

%PROTO INCLUDE sitemap.html

<div class=center2d>
	first post!<br>
	this is kinda surreal, i haven't had a blog for a good while. at least six months? not that long, i suppose, not that i posted often on the last one.<br>
	i'm going to do something different this time. i'm going to do an actual blog that i'll use.
	<hr>
	i should probably introduce myself. properly, that is, not that stripped down description in /whoami.html.<br>
	howdy<br>
	i'm eostre.<br>
	i'm queer, transgender, polyamourous, leftist, and a computer dork. i'm the pervert that fox news warned you about. i'm here to steal your man and turn him into a revolutionary gay catgirl powered by estrogen. hell yeah.<br>
	i live in the cedar bluff area of knoxville, tn.<br>
	not entirely by choice, funnily enough. i lost my place to live in ohio two weeks after graduating. fortunately, i had a spare bunk in knoxville; hence, i'm here now. i kinda miss it, i had to leave behind my primary partner.<br>
	i rather miss that specific partner. their name is matt and we've been together for over a year now, they helped me through some very dark times and i owe them my life.<br>
	i love matt.<br>
	i love julian.<br>
	i love elis.<br>
	i love gale.<br>
	heck, i even love myself.
	<hr>
	that's what this site is going to be about.<br>
	love, be it my gushing about my partners or my affection for my computers.<br>
	it's all done for love
</div>
