<head>
	<link rel="shotcut icon" href="photos/hotol-engine.png">
</head>
<style type="text/css">
.center2d {
	margin-top: 5%;
	position: absolute;
	top: 15%;
	left: 45%;
	width: 60%;
	-moz-transform: translateX(-45%) translateY(-15%);
	-webkit-transform: translateX(-45%) translateY(-15%);
	transform: translateX(-45%) translateY(-15%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

%PROTO INCLUDE sitemap.html

<div class=center2d>
	im in knoxville.<br>
	tn, usa. that knoxville.<br>
	more specifically, im currently sitting half-naked in the bunk under my sleeping fiancee - the aforementioned matthew - staring at the single window in my apartment.
	there's a suitcase at the foot of the bed, a hamper of dirty clothes under the window, and flags draped as over me as a richer human might drape silk sheets over their four-post bed.<br>
	<hr>
	its not much, but it - all 300 square feet of it - is mine.<br>
	err, half of it, anyways. i do have a roommate.
	<hr>
	i havent always lived in Knoxville, in fact i basically just moved here. came into town on may 27th, 2019.
	on the 22nd, i knew i had to go. that day, i put in my two-days notice at a job i very much miss and recruited the help of said fiancee to help me move out.<br>
	its... upsetting, the events that led to me leaving. i might talk about that later.
	honestly i probably have some kind of trauma from it<br>
	i used to live in a place called dublin.
	not ireland, dublin ohio. land of corn. kinda northeast of columbus. an incredibly rich town.<br>
	seriously, the median income was six-figures. one of my neighbours was a ceo, one was a hockey player, most were retired at the age of 50.<br>
	no idea how we managed to live there. allegedly my mother invested money very well when she was younger; personally i believe she was selling millions of dollars worth of cocaine.<br>
	(which almost be upsetting, because she never offered me any of her stash)<br>
	<hr>
	but lets not focus on the past.
	im here now, im out of that frankly terrible environment, and im surrounded by people who love me as an independent human being.<br>
	im here, im queer, i have a blank slate, and by golly am i determined to make a name for myself.
</div>
