<head>
	<link rel="shotcut icon" href="photos/hotol-engine.png">
</head>
<style type="text/css">
.center2d {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

%PROTO INCLUDE sitemap.html

<div class=center2d>
	read my ramblings if you dare, mortal<br>
	<hr>
	&nbsp;<a href="001_e9d_is_coming_online.html">001_e9d_is_coming_online.html</a><br>
	&nbsp;<a href="002_where_am_i.html">002_where_am_i.html</a><br>
	&nbsp;<a href="003_how_i_got_here.html">003_how_i_got_here.html</a><br>
	</ul>
</div>
