<style type="text/css">
.center2d {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

%PROTO INCLUDE sitemap.html

<div class=center2d>
	Howdy.<br>
	I can be contacted at the following:
	<hr>
	<ul style="list-style-type:circle">
		<li>Telephone via +1 (614) 943-1954</li>
		<li>Fediverse at <a href=https://lgbt.io/@danne>@danne</a>
		<li><a href="mailto://eostre.danne@protonmail.com">eostre.danne@protonmail.com</a></li>
	</ul>
</div>
