<head>
	<link rel="shortcut icon" href="photos/hotol-engine.png">
</head>
<style type="text/css">
.center2d {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

%PROTO INCLUDE sitemap.html

<div class=center2d>
	Eostre Emily Danne<br>
	<hr>
	<ul style="list-style-type:none">
		<li><a href="whoami.html">whoami</a></li>
		<li><a href=resume.html>resume</a></li>
		<li><a href=contact.html>contact</a></li>
		<li><a href="photos">photos/</a></li>
		<li><a href="blog">blog/</a></li>
	</ul>
</div>
