<style type="text/css">
.center2d {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

%PROTO INCLUDE sitemap.html

<div class=center2d>
	<div style="text-align:center;"><b>whoami</b></div>
	<hr>
	i'm eostre.<br>
	i do computers;<br>
	&nbsp;sometimes i'm even quite good at it.<br>
	i am anything but a man.<br>
</div>
