<style type="text/css">
.center2d {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
</style>

<div class="dropdown" style="font-size:smaller;">
	Sitemap
	<div class="dropdown-content">
		<ul style="list-style-type:none">
			<li><a href="http://e9d.org/"            >e9d:/</a>
			<li><a href="http://e9d.org/contact.html">e9d:/contact</a></li>
			<li><a href="http://e9d.org/resume.html" >e9d:/resume</a></li>
			<li><a href="http://e9d.org/whoami.html" >e9d:/whoami</a></li>
			<li><a href="http://e9d.org/blog"        >e9d:/blog/</a></li>
			<li><a href="http://e9d.org/photos"      >e9d:/photos/</a></li>
			<hr>
			<li><a href="https://gitlab.com/eraG2"   >gitlab:/eraG<sup>2</sup></a></li>
			<li><a href="https://gitlab.com/eostre"  >gitlab:/eostre</a></li>
		</ul>
	</div>
</div>

<div class=center2d>
	<div style="text-align:center;"><b>whoami</b></div>
	<hr>
	i'm eostre.<br>
	i do computers;<br>
	&nbsp;sometimes i'm even quite good at it.<br>
	i am anything but a man.<br>
</div>
