<head>
	<link rel="shotcut icon" href="photos/hotol-engine.png">
</head>
<style type="text/css">
.clicker {
	outline:none;
	cursor:pointer;
}
.cwed {
	display: none;
}
.clicker:focus + .cwed{
	display:block;
}
.center2d {
	margin-top: 5%;
	position: absolute;
	top: 30%;
	left: 45%;
	width: 60%;
	-moz-transform: translateX(-45%) translateY(-15%);
	-webkit-transform: translateX(-45%) translateY(-15%);
	transform: translateX(-45%) translateY(-15%);
}
hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
</style>

<style>
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
</style>

<div class="dropdown" style="font-size:smaller;">
	Sitemap
	<div class="dropdown-content">
		<ul style="list-style-type:none">
			<li><a href="http://e9d.org/"            >e9d:/</a>
			<li><a href="http://e9d.org/contact.html">e9d:/contact</a></li>
			<li><a href="http://e9d.org/resume.html" >e9d:/resume</a></li>
			<li><a href="http://e9d.org/whoami.html" >e9d:/whoami</a></li>
			<li><a href="http://e9d.org/blog"        >e9d:/blog/</a></li>
			<li><a href="http://e9d.org/photos"      >e9d:/photos/</a></li>
			<hr>
			<li><a href="https://gitlab.com/eraG2"   >gitlab:/eraG<sup>2</sup></a></li>
			<li><a href="https://gitlab.com/eostre"  >gitlab:/eostre</a></li>
		</ul>
	</div>
</div>

<div class=center2d>
	i came here because i wasn't welcome in my mother's house.
	we were fighting - as we usually did, to pass the time - when something in me snapped, and i knew i had to leave.
	this had happened a few times before, but only now was i actually able to leave.
	i had turned 18, i had graduated high school, i had a wonderful partner to help me move, and i had a place to move to.
	so i moved.<br>
	that was two months ago, to the day.<br>
	(2019-05-21, last argument; 2019-05-25, departure for knoxville)
	<hr>
	<div class="clicker" tabindex="1"><b>cw: parental abuse, stream-of-thought</b><br>click to view</div>
	<div class="cwed">
	<hr>
	i started a journal, when i realized i might be transgender.
	it was originally just for the purpose of logging my dysphoria, but i later found comfort in writing down day-to-day happenings.<br>
	for the record, here's some of the more notable "incidents":
	<ul>
		<li>Jan. 2018<br><code>
Around 2200, she calls me in to her room to talk about me being a dick.
She says that Sawyer is better, because he makes her feel important.
Those were her words, that I don't make her feel important.
She stops responding for some reason, overloaded or something.
I leave, but first ask her what's got her so worried.

Oh yeah, that's another 1900 thing.
She's worried about everything.
Or nothing.
And when I asked her what, specifically she's worried about, she says "Can't you see?"
Of course I can't.
"Well good for you then."
I mean gee, thanks, what helpful feedback.
You're worried about something, and it's destroying you, and you won't say what.

Anyways, the last thing I asked was what has her worried.
She doesn't respond.

Around 2230 she comes in, flashes my bedroom lights to get my attention, and says, very loudly and angrily
"You make me sad, good night!"</code></li>
		<li>May 2018<br><code>
What has got me feeling so crap?
Great question.

It's mom again.

She just
She's threatening to pull all my appointments
Because she doesn't see me improving

Improving what?
Fuck if I know

But basically
Because she doesn't think therapy and psychi

---

And she just came in to tell me that she "needs a break"
Because all I do is tell her how much she sucks and how the world sucks
Her words</code></li>
		<li>June 2018<br><code>
Yesterday night was pretty shitty.
I came home after bottle hunting with Matt and got yelled at a lot.
My mom spent a half-hour or so telling me about how I'm a narcissitic worthless deadbeat disappointment who's incapable of loving, and then how she would never call me those things because she loves me.
She summarized the whole thing by called me "fucked up".

I was downright suicidal after it.
I cried, a lot.
I was looking up Ohio's gun laws, to see what I would need to do to kill myself.</code></li>
		<li>June 2018<br><code>
My mom called me a disgrace for not wanting to get more than one job.</code></li>
		<li>June 2018<br><code>
Head is buzzing
Giving machine-like report so as not to worsen head fuckiness

Long conversation with parent
Shitty

Parent has been shitty all day
Several of parent&sibling's accounts were possibly compromised, devices got log-in warnings
Parent immediately blamed me
Got really aggressive

I tried to help them, gave both specific directions on how to check who was logging into their accounts
IP addresses showed that the logins were coming from own house
(*The call is coming from inside the house!*)
Parent immediately took to blaming me more

Parent was using he/him for me
Corrected parent after two failures
Parent used correct pronoun once, then fell back to he/him
Called parent a bitch
Got grounded

I don't regret it
Parent was being extremely dickish today and yesterday

Parent again blamed my alleged insensitivity on autism
"Is that it? That your autism prevents you from feeling?"
Extremely hurtful and upsetting

Few minutes later
Parent talked to me about how I used to be such a better person, and how current me is shit
Parent took a much more friendly tone

2050

Continuation of incident report
Became occupied, nothing to report there

Parent accused me of self-sabotage
Claimed that maybe I'm not really trans, and that sabotaging the HRT front would therefore be in my best interest.
There's a lot of shit to dissect there.

Current plan:
Drop Leibowitz, he isn't helping
DIY HRT
Abandon family ASAP</code></li>
		<li>June 2018<br><code>
Apparently I committed fraud.
Supposedly what happened today,
is that I called into my bank(!?),
changed my name(!),
on two accounts(!?),
and in so doing, gave out information that only I could have.

Also apparently there's a tape of me doing this?
Also also apparently, because a crime was committed, she's getting the police involved.

I don't even know what bank I have.
I didn't even think I had an account.
Hell, let alone two.

I can't ask for any information as to what happened, I can't even listen to the tapes.
Apparently that's just me "fishing [for information]".

When I said I had no idea what was happening, or who could have changed that information, she immediately started blaming Matt.</code></li>
		<li>July 2018<br><code>
Our clotheswasher developed a bug today.
Some kind of {system|drain pipe} error.
Damn thing barely lasted a year.

I got tasked with diagnosis, since I was the one who heard the beep codes.

2113

Oh hey, I just saw the portables' lights flicker on.
I wonder if they're timed or on a luminosity detector.

I digress.

The clothesawsher.

I diagnosed it with shitty-chinesium-itis.
Solution: call a tech.

Mom got out of bed to go take a look at it.

I started putting the sopping wet clothes in the dryer.
I had no intention of starting the machine, I just wanted them out of the washer.

She freaked out.

She called me an idiot, said that I was trying to start a house fire, said that I would kill us all, etc.
She gave me an ultimatum: either do things her way or get out of the laundry room.

2120

I got out of the laundry room.
I grabbed my laptop, and started to take off.

She blocked the garage door with her body.
Started screaming some really nasty things at me, and that I was not allowed to leave.
**The phrase which sticks out is "I hate you".**

I didn't let any of her nonsense stop me, I pulled the door open and left.

She did the usual dance, she'll call the cops on me, I'm expressly forbidden from leaving, etc.

She did do something unusual, she told me not to come back.
I'll probably ignore her on that one too.

And now I'm down here, sitting out on the seniour patio at Dublin Jerome High School, wearing a pretty pink dress and with nothing but a laptop.
My phone is nearly dead, I'm saving it for SMS.

2130

I think I'm going to hit up Matt and Nicole now, and probably see if I can break into the stadium booth.

I did come here for the WiFi, after all.

God I'm tired.</code></li>
	</ul></div>
</div>
